.reqkey-container {
    min-height: 100vh;
    width: 1023px;
    margin:auto;
    color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
#email-wrong {
    display: none;
}

.reqkey-container button{
  background-color: #ADD8E6;
  color:#212529;
  font-size: 1rem;
  font-weight: 700;
  font-family: Times, Arial, Helvetica, sans-serif;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  margin-right: 0.5rem;
  cursor: pointer;
}

@media(max-width: 1023px ) {
    .reqkey-container {
        max-width: 94%;
    }
    .reqkey-container h1{
        font-size: 1.2rem;
    }
}