.lostpw-container {
    min-height: 100vh;
    width: 1023px;
    margin:auto;
    color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
.lostpw-container div {
    text-align: left;
}
.lostpw-container div h1 {
    font-size: 2rem;
    font-family: Times, Arial, Helvetica, sans-serif;
}
.lostpw-container p {
    margin-bottom: 1rem;
}
.lostpw-container button{
  background-color: #ADD8E6;
  color: #212529;
  font-size: 1rem;
  font-weight: 700;
  font-family: Times, Arial, Helvetica, sans-serif;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  margin-right: 0.5rem;
  cursor: pointer;
}
.lostpw-container input{
  width: 100%;
}

.hide-element, #email-error, #badPassword, #repPassword, #key-error {
    display: none;
}
@media(max-width: 1023px ) {
    .lostpw-container {
        max-width: 94%;
    }
}