
.login-page-container {
  width: 1023px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.app-title-item {
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 700;
}
.form-group {
  padding-top: 2rem;
}
.form-group p {
  color: #FFF;
  margin-bottom: 0.5rem;
}
.user-login-button {
  background-color: #ADD8E6;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: #212529;
  padding: 10px 32px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 0.5rem;
  cursor: pointer;
  width: 200px;
}

.login-link-group p {
  margin-top: 1rem;
}
@media(max-width: 1023px) {
  .login-page-container {
    width: 90%;
  }
  .app-title-item {
    font-size: 1.3rem;
  }
}