.comment-button-item {
  background-color: #aed6f1;
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: #FFF;
  padding: 10px 32px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 0.5rem;
  cursor: pointer;
}
.comment-limit {
  color: #FFF;
}

.written-comments-container {
  background-color: #2E4053;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 2rem;
}
.written-comments-container h1 {
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Times, Arial, Helvetica, sans-serif;
}
.comments-container {
  color: #FFF;
  font-size: 1.1rem;
  margin-top: 1rem;
  background-color: #2E4053;
}
.comments-container p {
  font-family: Times, Arial, Helvetica, sans-serif;
}
