.navbar-container {
  height: 50px;
  background-color: #151B54;
}
.navbar-grid {
  display: grid;
  grid-template-columns: 40px 1fr 250px;
  width: 60%;
  margin:auto;
  height: 100%;
}
.navbar-home-container, .account-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.navbar-home-container {
  align-items:left;
}
.account-container{
  text-align: right;
}
.navbar-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.searchbar-grid {
  display: flex;
  justify-content: flex-start;
  align-items: right;
  width: 100%;
  height: 100%;
}
.searchbar-container { 
  align-self: center;
  width: 425px;
  height: 40px;
  background-color: #FFF;
}

.navbar-home-container img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.searchbar-container input {
  height: 100%;
  padding: 1rem;
  width: 90%;
}
.searchbar-container input, .searchbar-container {
  border-radius: 5px;
  border: 0;
  outline: none;
}
.searchbar-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

#create-account {
  margin-left: 1em;
  padding: 8px 7px;
  background-color: #add8e6;
  border: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
#login {
  padding: 8px 7px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;  
}

.navbar-button:hover {
  background-color: #1da9d8;
}

.search-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 1em;
}

@media(max-width: 1200px) {
  .navbar-grid {
    width: 90%;
  }

}

@media(max-width: 850px) {
  .navbar-grid {
    width: 96%;
    grid-template-columns: 50px 1fr;
  }
  .searchbar-container { 
    width: 100%;
  }

  .navbar-header, .account-container{
    display: none;
  }
}