.navbar-container {
  height: 60px;
  background-color: #17202A;
}
.navbar-grid {
  display: grid;
  grid-template-columns: 40px 1fr 250px;
  width: 1023px;
  margin:auto;
  height: 100%;
}
.navbar-home-container, .account-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
}
.navbar-home-container {
  align-items:left;
}
.account-container{
  text-align: right;
}
.navbar-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60px;
}
.searchbar-grid {
  display: flex;
  justify-content: flex-start;
  align-items: right;
  width: 100%;
  height: 60px;
}
.searchbar-container { 
  align-self: center;
  width: 425px;
  height: 40px;
  background-color: #FFF;
}

.navbar-home-container img{
  width: 30px;
  height: 30  px;
  cursor: pointer;
}
.searchbar-container input {
  height: 100%;
  padding: 1rem;
  width: 90%;
}
.searchbar-container input, .searchbar-container {
  border-radius: 5px;
  border: 0;
  outline: none;
}
.searchbar-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

#create-account {
  margin-left: 1em;
  padding: 8px 7px;
  background-color: #add8e6;
  border: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
#login {
  padding: 8px 7px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;  
}

.navbar-button:hover {
  background-color: #1da9d8;
}

.search-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 1em;
}
.navbar-mobile-container {
  display: none;
}
.mobile-button-container {
  height: 60px;

}
.mobile-nav-button{
  width: 40px;
  height: 40px;
  background-color: #17202A;
  color: #FFF;
  border: none;
  outline: none;
}
.dropdown-container {
  background-color: #2E4053;
  width: 250px;
}


@media(max-width: 1023px) {
  .navbar-grid {
    width: 96%;
    display: flex;
    justify-content: space-between;
  }
  .searchbar-container { 
    padding-right:0.5rem;
    width: 100%;
  }
  .searchbar-container input {
    width: 350px;
    
  }
  .navbar-header, .account-container, .navbar-home-container{
    display: none;
  }
  .navbar-mobile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60px;
  };
  .navbar-mobile-container span {
    color: white;
    font-size: 30px;
  }
  #login, #create-account, .dropdown-container a {
    padding: 8px 7px;
    background-color: inherit;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;  
    margin:0;

  }
}