.newuser-container {
  width: 1023px;
  margin: 2rem auto 2rem auto;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newuser-form-group {
  margin-top: 2rem;
}
.newuser-form-group p {
  color: #FFF;
  font-family: TImes, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
.newuser-form-group h1 {
  color: #FFF;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  font-family: TImes, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.create-user-button {
  background-color: #ADD8E6;
  font-size: 1rem;
  font-weight: 700;
  font-family: TImes, Arial, Helvetica, sans-serif;
  border: none;
  color: #17202A;
  padding: 10px 32px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 200px;
  cursor: pointer;
}
#shortUsername, #badUsername, #repPassword, #badEmail, #dupEmail, #badPassword, #badkey {
  display: none;
}
@media(max-width: 1023px) {
  .newuser-container {
    width: 95%;
  }
  .newuser-form-group h1 {
    font-size: 1.3rem;
  }
  .newuser-form-group p {
    font-size: 1rem;
  }
  
}