.navbar-container {
  height: 50px;
  background-color: #add8e6;
}
.navbar-grid {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  width: 60%;
  margin:auto;
  height: 100%;
}
.navbar-home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.searchbar-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.searchbar-container { 
  width: 425px;
  height: 40px;
  background-color: #FFF;
}

.navbar-home-container img{
  width: 30px;
  height: 30px;
}
.searchbar-container input {
  height: 100%;
  padding: 1rem;
  width: 90%;
}
.searchbar-container input, .searchbar-container {
  border-radius: 1rem;
  border: 0;
  outline: none;
}
.searchbar-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}
.account-container {
  text-align: end;
}
.navbar-button {
  background-color: #add8e6;
  margin-top: 10px;
  border: none;
  font-size: 1.2em;
  font-family: Georgia;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #1da9d8;
}

.search-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 1em;
}

@media(max-width: 1200px) {
  .navbar-grid {
    width: 90%;
  }
  .searchbar-container input {
    width: 85%;
  }
}

@media(max-width: 850px) {
  .navbar-grid {
    width: 96%;
  }
  .searchbar-container { 
    width: 300px;
  }
}