.navbar-container {
  height: 3em;
  background-color: #add8e6;
}
.navbar-margins {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;  
}
.navbar-item-container {
  width: 60%;
}
.navbar-button {
  background-color: #add8e6;
  margin-top: 8px;
  border: none;
  font-size: 1.2em;
  font-family: Georgia;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #1da9d8;
}
.navbar-icon-item {
  margin-left: 0.5%;
  margin-right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.searchbar-field {
  margin-top: 0.6em;
  width:56%;
  margin-right: 1%;
}
.search-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 1em;
}