.Page-Container {
  margin-left: 20%;
  margin-right: 20%;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.image-modal-admin {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-upload-button {
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.app-header {
  padding-top: 1em;
}
.app-title {
  margin-top: 3em;
  margin-bottom: 5em;
}
.accountTitle {
  margin-top: 1em;
  margin-bottom: 1em;
}
.video-title {
  margin-top: 1em;
}
.hide-element {
  display: none;
}
.video-name-input {
  width: 70%;
  font-size: 17px;
}
.delete-button {
  margin-top: 4em;
  margin-bottom: 1em;
  width: 7em;
  font-size: 14px;
}
.email-warning {
  color: red;
  font-weight: bold;
  display: none;
}
.profile-title {
  margin-top: 0.5em;
}
.group-button {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 3em;
}
.app-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button-item {
  margin-right: 2em;
}
.admin-space {
  margin-top: 1em;
  margin-bottom: 2em;
}
.upload-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.upload-title-button{
  margin-bottom: 1em;
}
.video-name{
  margin-bottom: 1.7em;
}
.upload-button {
  margin-top: 1em;
  width: 6.4em;
}
.app-title-item {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 1em;
  margin-left: 0.5%;
}
.app-subheader{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 0.5%;
}
.add-top-margins {
  margin-top: 1em;
}
.text-items {
  margin-left: 0.5%;
}
.form-input {
  margin-left: 0.5%;
  width: 99%;
}
.all-buttons {
  background-color: rgb(50, 156, 255);
  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
} 
.button-size {
  width:10%;
}
.all-buttons:hover{
  background-color: rgba(20, 120, 255);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.add-margins {
  margin-left: 0.5%;
}
.reply-buttons {
  background-color: rgb(50, 156, 255);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.reply-buttons:hover{
  background-color: rgba(20, 120, 255);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@media all and (max-width: 550px) { 
  .upload-image-button {
    padding-bottom: 1.5em;
  }
  .upload-title {
    font-size: 2em;
  }
}
@media all and (max-width: 500px) { 
  .image-button{
    font-size: 0.4em;
    width: 40%;
    height: 3em;
  }
}
@media all and (max-width: 450px) { 
  .Page-Container {
    margin-left: 5%;
    margin-right: 5%;
    
  }
}
