.footer-container {
  width: 100%;
  min-height: 200px;
  background-color: #17202A;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-section {
  text-align: left;
  padding-top: 1.5rem;
}
.footer-section h1 {
  color: #FFF;
  font-size: 2rem;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
  
}
.footer-section ul li{
  margin-top: 1.5rem;
}
.footer-section ul li a {
  color: #FFF;
}
.trademark-set {  
  width: 1023px;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
  color: #FFF;
}
.icon-grid-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.trademark-set div {
  margin: 1rem;
}
.trademark-set div p{
  color: #FFF;
}
@media all and (max-width: 1023px) {
  .footer-grid {
    display:block;
  }
  .trademark-set {  
    width: 96%;
    padding: 1rem;
  }
  .icon-grid-set { 
    display: block;
    font-size: 0.8rem;
  }
  .trademark-set p {
    font-size: 0.8rem;
  }
}