.Footer {
  width: 100%;
  height: 2.5em;
  background-color: #151B54;
}
.Footer-text-container {
  text-align: center;
}

.Footer-text-item {
  color: #FFF;
  margin-top: 0.4%;
  font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-width: 800px) {
  .Footer {
    margin-top: 5em;
  }
  .Footer-text-item {
    font-size: 11px;
    margin-top: 2%;
  }
}